 *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 1600px;
  margin: 0 auto;
}

 @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
  
#inter {
  font-family: "Inter", sans-serif;
}
#logo-navbar{
  background: rgba(26, 11, 46, 1);
}


#logo-navbar .nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 80px 16px 80px;
}
#logo-navbar h1{
  color: white;
  font-weight: 200px;
}
#logo-navbar .span{
  width: 219px;
  height: 32px;
  background: linear-gradient(to right, #ff4d94, #8e2de2);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#logo-navbar .ul  {
  display: flex;
  list-style: none;
  gap: 40px;
}
#logo-navbar .ul li a{
  color: white;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
}

.button-nav{
  padding: 10px 20px;
  border-radius: 10000px;
  background: var(--Linear, linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1)));
  border: none;
  border-radius: 8px;
  color: white;
  font-weight: 500;
  font-size: 20px;
  cursor: pointer;
}
/* .button-nav:hover{
  opacity: 0.8;
  transition: 0.3s;
} */



#section-second{
  background-image: url(../assets/hero-bg.png);
  background-repeat: no-repeat;
  padding-top: 50px; 
  background-size: cover;
  text-align: center;
  max-width: 1600px;
}
#section-second h1{
  color: white;
}

#section-second .img-one{
  margin-top: 50px;
}
#section-second .img-two{
  margin-top: -250px;
  width: 200px;
  height: 200px;
}
#section-second .text h1{
  align-items: center;
  font-size: 60px;
  font-weight: 800;
  padding-top: 50px;
}
#section-second .text p{
  color: white;
  font-weight: 400;
  font-size: 16px;
  padding: 20px;
}


#section-three .p{
  text-align: center;
  background-color: rgba(26, 11, 46, 1);
  padding: 50px 50px;
}
#section-three h1{
  font-size: 36px;
  font-weight: 700;
  padding: 20px;
  color: white;
}
#section-three p{
  font-size: 12px;
  font-weight: 200;
  color:  white;
}
#section-four {
  padding-bottom: 50px;
  background: rgba(26, 11, 46, 1);
}
#section-four .cards{
  display: flex;
  text-align: center;
  gap: 30px;
  background: rgba(26, 11, 46, 1);
}
 
#section-four .cards .one  h1,
#section-four .cards .two h1,
#section-four .cards .three h1,
#section-four .cards .four h1{
  color: #00FF66;
  font-size: 50px;
  font-weight: bold;
}
#section-four .cards .one  p,
#section-four .cards .two p,
#section-four .cards .three p,
#section-four .cards .four p{
  color: white;
  font-size: 16px;
  font-weight: 100;
}

#section-five {
  background: rgba(35, 14, 61, 1);
  padding: 120px 200px 120px 200px;
}
#section-five h1{
  color: white;
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  padding-bottom: 80px;
}
.card h2{
  color: white;
  font-size: 24px;
  font-weight: 600;
  padding: 20px 0px;
}
.first , .second , .third , .fourr , .five p{
  color: rgba(189, 183, 183, 0.836);
  font-size: 16px;
  font-weight: 400;
}

.card{
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
 }
 .first{
  grid-row: span 2;
  border-radius: 40px;
  background: rgba(53, 17, 101, 0.4);
  padding: 40px;
  width:  100%;
 }
.second{
  grid-column: span 2;
  border-radius: 40px;
  background: rgba(53, 17, 101, 0.4);
  padding: 40px;
  width: 790px;
  height: 225px;
}
.third{
  grid-column: span 2;
  border-radius: 40px;
  background: rgba(53, 17, 101, 0.4);
  padding: 40px;
  width: 790px;
  height: 225px;
}
.fourr{
  grid-column: span 2;
  border-radius: 40px;
  background: rgba(53, 17, 101, 0.4);
  padding: 40px;
  width: 790px;
  height: 273px;
}
.five{
  border-radius: 40px;
  background: rgba(53, 17, 101, 0.4);
  padding: 40px;
  margin-right: 100px;
  width: 380px;
  height: 273px;
}

 

#section-six {
  padding: 50px;
 
}
#section-six h1{
  color: white;
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  padding: 80px 0px 40px 0px;
}
 
#section-six{
  background: rgba(26, 11, 46, 1);
}
#section-six .f{
  display: flex;
  gap: 16px;
  padding:  0px auto 120px auto;

}
#section-six .f .a{
  align-items: center;
  border-radius: 8px;
  padding: 14px;
  background: rgba(37, 13, 68, 1);
  border-radius: 30px;
}
#section-six .f .b{
  align-items: center;
  border-radius: 8px;
  background: rgba(37, 13, 68, 1);
  padding: 14px;
  border-radius: 30px;
}
#section-six .f .c{
  align-items: center;
  border-radius: 8px;
  background: rgba(37, 13, 68, 1);
  padding: 14px;
  border-radius: 30px;
}
#section-six h2{
  font-style: Bold;
  font-size: 24px;
  font-weight: 700;
  color: white;
  padding: 16px 0px;
}
#section-six p{
  font-size: 16px;
  font-weight: 400;
  color: rgba(189, 183, 183, 0.836);
}
#section-six ul{
  list-style: none;
  padding-top: 16px;
  color: white;
}

#section-six .host{
  display: flex;
  gap: 30px;
  padding: 40px;
  padding: 120px 200px 120px 200px;
  border-radius: 40px;
  background: rgba(53, 17, 101, 0.4);
}

#footer{
  background-image: url(../assets/footer-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  background-position: center;
  width: 1600px;
  height: 412px;
}
#footer h1{
  color: white;
  font-size: 60px;
  font-weight: 400;
  padding: 80px 0px 20px 0px;
}
#footer .color{
  width: 219px;
  height: 32px;
  background: linear-gradient(to right, #ff4d94, #8e2de2);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#footer .footer-ul{
  display: flex;
  list-style: none;
  padding-top: 40px;
  padding-bottom: 40px;
}
#footer .footer-ul li a{
  color: white;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
}



@media screen and (max-width:576px){
  #logo-navbar .nav{
  flex-direction: column;
  gap: 20px;
  }
  #section-four .cards{
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  }
  #section-five{
    padding: 0px 0px 0px 0px;
  }
  .card{
    display: grid;
    margin: 0px auto 0px auto;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(5, 1fr);
  }
  .first, .second, .third, .fourr, .five{
    width: 300px;
    height: auto;
  } 
  .first{
    grid-row: span 1;
  }
  .five{
    margin-right: 25px;
  }
  #section-six .f{
    flex-direction: column;
    gap: 20px;
  }
  #section-six .f .a, #section-six .f .b, #section-six .f .c{
    margin: 0px auto 0px auto;
    width: 300px;
    height: auto;
    padding-left: 10px;
  } 
  iframe{
    width: 280px;
    height: auto;
  }
  #section-six .host{
    flex-direction: column;
    gap: 20px;
    padding: 20px 10px 20px 10px;
    margin: 0px auto 0px auto;
    width: 300px;
    height: auto;
  }
  #footer .footer-ul{
    flex-direction: column;
    gap: 20px;
    margin: 0px auto 0px auto;
    padding: 0px;
  }
  #footer{
    width: 400px;
  }

}